<mat-card>

    <mat-card-title align="center">Új termék</mat-card-title>

    <form [formGroup]="bookFormGroup">
        <div class="row">
            <mat-form-field appearance="fill" class="col-lg-8">
                <mat-label>Könyv címe</mat-label>
                <input type="text" matInput formControlName="title">
            </mat-form-field>
            <div *ngIf="bookFormGroup.controls.title.touched === true">
                <mat-error *ngIf="bookFormGroup.controls.title.hasError('required')">
                    Mező kitöltése kötelező
                </mat-error>
                <mat-error *ngIf="bookFormGroup.controls.title.hasError('maxlength')">
                    A megadott input maximum 20 karakter lehet!
                </mat-error>
            </div>
            <mat-form-field appearance="fill" class="col-lg-8">
                <mat-label>Író</mat-label>
                <input type="text" matInput formControlName="author">
            </mat-form-field>
            <div *ngIf="bookFormGroup.controls.author.touched === true">
                <mat-error *ngIf="bookFormGroup.controls.author.hasError('required')">
                    Mező kitöltése kötelező
                </mat-error>
                <mat-error *ngIf="bookFormGroup.controls.author.hasError('maxlength')">
                    A megadott input maximum 20 karakter lehet!
                </mat-error>
            </div>
            <mat-form-field appearance="fill" class="col-lg-8">
                <mat-label>ISBN szám</mat-label>
                <input type="text" matInput formControlName="isbn">
            </mat-form-field>
            <div *ngIf="bookFormGroup.controls.isbn.touched === true">
                <mat-error *ngIf="bookFormGroup.controls.isbn.hasError('required')">
                    Mező kitöltése kötelező
                </mat-error>
                <mat-error *ngIf="bookFormGroup.controls.isbn.hasError('maxlength')">
                    A megadott input maximum 20 karakter lehet!
                </mat-error>
            </div>
            <mat-form-field class="example-full-width" appearance="fill" class="col-lg-8">
                <mat-label>Megjelenés</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
            </mat-form-field>
            <div *ngIf="bookFormGroup.controls.date.touched === true">
                <mat-error *ngIf="bookFormGroup.controls.date.hasError('required')">
                    Mező kitöltése kötelező
                </mat-error>
                <mat-error *ngIf="bookFormGroup.controls.date.hasError('maxlength')">
                    A megadott input maximum 20 karakter lehet!
                </mat-error>
            </div>

            <mat-form-field appearance="fill" class="col-lg-8">
                <mat-label>Ár</mat-label>
                <input type="number" matInput formControlName="price">
            </mat-form-field>
            <div *ngIf="bookFormGroup.controls.price.touched === true">
                <mat-error *ngIf="bookFormGroup.controls.price.hasError('required')">
                    Mező kitöltése kötelező
                </mat-error>
            </div>

            <mat-form-field appearance="fill" class="col-lg-8">
                <mat-label>Darabszám</mat-label>
                <input type="number" matInput formControlName="quantity">
            </mat-form-field>
            <div *ngIf="bookFormGroup.controls.quantity.touched === true">
                <mat-error *ngIf="bookFormGroup.controls.quantity.hasError('required')">
                    Mező kitöltése kötelező
                </mat-error>
            </div>
        </div>
        <div>
            <button mat-raised-button matDialogClose>Vissza</button>
            <button color="primary" [disabled]="!bookFormGroup.valid" (click)="createProduct()" mat-raised-button
                matDialogClose>Létrehozás</button>
        </div>
    </form>

</mat-card>