<mat-toolbar fxLayout="row" class="navbar">
    <b>Könyvkereső</b>
    <span fxFlex></span>
    <button mat-button fxHide.xs (click)="login()">
        <mat-icon class="mr">login</mat-icon>
        Bejelentkezés
    </button>
    <button mat-button fxHide.xs (click)="register()">
        <mat-icon class="mr">login</mat-icon>
        Regisztráció
    </button>

</mat-toolbar>
<mat-card style="opacity: 0.95; margin-top:100px; width:60%; margin-left:20%; text-align: center;"
    class="font mat-elevation-z8 content">
    <h1>Üdvözöllek a Könyvkereső weboldalán. <br></h1>
    <p>
        Áruházunk a kerett könyveket beszerzi, és raktárra helyezi. Kereséhez kattintson a regisztrációra, majd
        bejelentkezésre.
    </p>
    <img style="width: 70%;" src="assets/logo.png">
</mat-card>