<mat-toolbar color="primary" class="navbar">
    <b>Könyvkereső</b>
    <span class="example-spacer"></span>
    <span> {{ user }} </span>
    <button mat-icon-button class="example-icon" (click)="logout()">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>

<div align="center" style="margin-top: 30px;">
    <mat-card>
        <div align="left">
            <button mat-raised-button color="base" (click)="createProduct()">Új termék</button>
            <mat-form-field>
                <mat-label>Keresés</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Könyv neve" #input>
            </mat-form-field>
        </div>
        <mat-card-title>Keresett könyvek</mat-card-title>
        <p><b>Áruházunkban keresett könyvek listája. Amennyiben Ön is szeretne könyvhöz jutni, kattintson a Könyv
                hozzáadása gombra.</b></p>
    </mat-card>

    <div align="center">

        <div class="container">

            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Könyv címe </th>
                    <td mat-cell *matCellDef="let element"> {{ element.title }} </td>
                </ng-container>

                <ng-container matColumnDef="author">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Író </th>
                    <td mat-cell *matCellDef="let element"> {{ element.author }} </td>
                </ng-container>

                <ng-container matColumnDef="isbn">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ISBN szám </th>
                    <td mat-cell *matCellDef="let element"> {{ element.isbn }} </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Megjelenés dátuma </th>
                    <td mat-cell *matCellDef="let element"> {{ element.date.substring(0,10) }} </td>
                </ng-container>

                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ár </th>
                    <td mat-cell *matCellDef="let element"> {{ element.price }} </td>
                </ng-container>

                <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Darabszám </th>
                    <td mat-cell *matCellDef="let element"> {{ element.quantity }} </td>
                </ng-container>
                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef> Törlés </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button color="warn" matTooltip="Törlés" matTooltipPosition="above"
                            (click)="deleteProduct(element)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

        </div>
    </div>