<mat-toolbar fxLayout="row" class="navbar">
    <b>Könyvkereső</b>
    <span fxFlex></span>
    <button mat-button fxHide.xs (click)="navigateBack()">
        <mat-icon class="mr">home</mat-icon>
        Nyitólap
    </button>
    <button mat-button fxHide.xs (click)="navigateLogin()">
        <mat-icon class="mr">login</mat-icon>
        Bejelentkezés
    </button>
    <!--     <button mat-button fxHide.xs (click)="register()">
        <mat-icon class="mr">login</mat-icon>
        Regisztráció
    </button> -->

</mat-toolbar>
<mat-card style="opacity: 0.95; margin-top:100px; width:40%; margin-left:33%;" class="font mat-elevation-z8 content ">
    <h1>Regisztráció</h1>
    <form [formGroup]="registerGroup" class="form">

        <mat-form-field floatLabel="never" class="form-element">
            <input type="text" matInput placeholder="Felhasználónév" formControlName="email">
            <mat-error *ngIf="registerGroup.controls.email.invalid">
                Érvénytelen e-mail cím.
            </mat-error>
        </mat-form-field>
        <div class="col-lg-12"></div>
        <mat-form-field floatLabel="never" class="form-element">
            <input type="password" matInput placeholder="Jelszó" formControlName="password">
            <mat-error *ngIf="!registerGroup.controls.password.valid">
                A jelszó kitöltése kötelező!
            </mat-error>
        </mat-form-field>

        <div class="form-element">
            <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!registerGroup.valid"
                (click)="register()">Regisztráció</button>
        </div>

    </form>
</mat-card>