<mat-toolbar fxLayout="row" class="navbar">
    <b>Könyvkereső</b>
    <span fxFlex></span>
    <button mat-button fxHide.xs (click)="navigateBack()">
        <mat-icon class="mr">home</mat-icon>
        Nyitólap
    </button>
    <button mat-button fxHide.xs (click)="navigateRegister()">
        <mat-icon class="mr">login</mat-icon>
        Regisztráció
    </button>
    <!--     <button mat-button fxHide.xs (click)="register()">
        <mat-icon class="mr">login</mat-icon>
        Regisztráció
    </button> -->

</mat-toolbar>
<mat-card style="opacity: 0.95; margin-top:100px; width:40%; margin-left:33%;" class="font mat-elevation-z8 content ">
    <h1>Bejelentkezés</h1>
    <form [formGroup]="loginGroup" class="form">

        <mat-form-field floatLabel="never" class="form-element">
            <mat-label>E-mail</mat-label>
            <input type="text" matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="loginGroup.controls.email.hasError('pattern')">
                Érvénytelen e-mail cím!
            </mat-error>
            <mat-error *ngIf="loginGroup.controls.email.hasError('required')">
                E-mail cím megadása kötelező!
            </mat-error>
        </mat-form-field>
        <div class="col-lg-12"></div>

        <mat-form-field floatLabel="never" class="form-element">
            <input type="password" matInput placeholder="Jelszó" formControlName="password">
            <mat-error *ngIf="!loginGroup.controls.password.valid">
                Jelszó megadása kötelező!
            </mat-error>
        </mat-form-field>

        <div class="form-element">
            <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!loginGroup.valid"
                (click)="login()">Bejelentkezés</button>
        </div>

    </form>
</mat-card>